@font-face {
    font-family: 'Trebuchet_MS';
    src: url('../fonts/Trebuchet_MS.woff') format('woff'),
         url('../fonts/Trebuchet_MS.ttf')  format('truetype');
}

@font-face {
    font-family: 'Futura_Bold';
    src: url('../fonts/Futura_Bold.woff') format('woff'),
         url('../fonts/Futura_Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'Futura_Book';
    src: url('../fonts/Futura_Book.woff') format('woff'),
         url('../fonts/Futura_Book.ttf')  format('truetype');
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff') format('woff'),
         url('../fonts/Calibri.ttf')  format('truetype');
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}


/*Section HEADER*/

.header {
	background-color: #fff;
}

.header__wrap {
	display: flex;
	align-items: baseline;

	padding: 40px 0;
}

@media screen and (max-width: 870px) {
	.header__wrap {
		display: block;
		text-align: center;
	}
}

.header__logo {
	font-family: 'Futura_Book';
	font-size: 36px;
	color: #ee8129;
	text-decoration: none;
}

.header__logo span {
	font-family: 'Futura_Bold';
	color: #3070a8;
}

.nav {
	margin-left: auto;;
}

.nav__link {
	position: relative;

	padding: 0 15px;
	margin: 0 0 0 5px;

	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;

	color: #989898;
}

.nav__link:before {
	display: block;
	content: '';

	position: absolute;
	bottom: -42px;
	left: 0;

	width: 100%;
	height: 0;
	background-color: #3070a8;
	
	transition: all .3s ease;
}

@media screen and (max-width: 870px) {
	.nav__link {
		display: inline-block;
		padding: 20px 15px;
	}
	.nav__link:before {
		display: none;
	}
}

.nav__link:hover {
	color: #3070a8;
}

.nav__link:hover:before {
	height: 5px;
}

/*Section HEADER ends*/

/*Section INTRODUCE*/

.introduce {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	width: 100%;
	height: calc(100vh - 116px);

	background: url(../img/introduce.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.introduce__wrap {
	max-width: 900px;
	width: 100%;
}

.introduce__title {
	font-family: 'Futura_Bold';
	font-size: 48px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #fff;
}

.introduce__title span {
	display: block;

	font-family: 'Futura_Book';
	font-size: 36px;
	text-transform: uppercase;
}

.introduce__text {
	max-width: 600px;
	width: 100%;

	padding: 25px 0 0;
	margin: 0 auto;

	font-family: 'Calibri';
	font-style: italic;
	font-size: 20px;
	line-height: 1.5;

	color: #fff;

	text-shadow: 0px 2px 0px #000;
}

.introduce__button {
	display: inline-block;
	padding: 0 60px;
	margin: 40px 0 0;

	height: 57px;
	line-height: 57px;

	font-family: 'Calibri';
	font-weight: 600;
	

	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;

	color: #fff;

	border: 1px solid #93a2b3;
	transition: all .3s ease;
}

.introduce__button:hover {
	background-color: #fff;
	color: #3070a8;
}

/*Section INTRODUCE ends*/


/*Section ABOUT*/

.about {
	padding: 65px 0 60px;
	text-align: center;
	background-color: #fff;
}

.about__title {
	font-family: 'Trebuchet_MS';
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;

	color: #41525c;
}

.benefits {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	padding: 35px 0 0;
}

.benefit {
	padding: 35px 0 0;
	max-width: 300px;
}

.benefit__title {
	padding: 30px 0 0;

	font-family: 'Futura_Book';
	font-size: 30px;
	color: #3070a8;
	text-transform: uppercase;
}

.benefit__text {
	padding: 25px 0 0;

	font-family: 'Open Sans';
	line-height: 1.786;
	font-size: 14px;
	color: #999999;
}

/*Section ABOUT ends*/


/*Section DESCRIPTION*/

.description {
	padding: 85px 0 75px;
	background: url(../img/happy_faces.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.description__title {
	font-family: 'Futura_Book';
	font-size: 26px;
	text-transform: uppercase;
	color: #ee8129;
	line-height: 1.846;

}

.description__subtitle {
	margin: 15px 0 0;
	font-family: 'Open Sans';
	font-style: italic;
	font-size: 19px;
	color: #fff;
}

.description__list {
	padding: 20px 0 0 30px;
	max-width: 620px;

	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 2.143;

	list-style: disc;
	color: #9d9d9d;
}

.description__list li {
	margin: 12px 0 0;
}

/*Section DESCRIPTION ends*/

/*Section ORDER*/

.orders {
	padding: 75px 0;
	background-color: #fff;
	text-align: center;
}

.orders__title {
	font-family: 'Trebuchet_MS';
	font-weight: bold;
	font-size: 30px;

	color: #41525c;

	text-transform: uppercase;
}

.cards {
	display: flex;
	justify-content: center;

	margin: 60px 0 0;
}
@media screen and (max-width: 768px) {
	.cards {
		flex-flow: row wrap;
	}
	
}

.card {
	max-width: 290px;
	width: 100%;

	background-color: #fff;

	border: 1px solid #e8eaec;
	border-radius: 5px;
	
}

.card:nth-child(1) {
	border-bottom-right-radius: 0;
}

.card:nth-child(2) {
	margin: -15px 0;
	border: 5px solid #ee8129;
	box-shadow: 0px 0px 12.87px 0.13px #000;
	z-index: 99;
}

.card:nth-child(3) {
	border-bottom-left-radius: 0;
}

.card__header {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 69px;

	background-color: #2bc2d5;
	border-top-left-radius: 5px;
}

.card:nth-child(2) .card__header {
	min-height: 80px;
	background-color: #ee8129;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.card:nth-child(2) .card__button {
	background-color: #ee8129;
	box-shadow: 0px 3px 0px 0px #b3560b;
}

.card:nth-child(3) .card__header {
	background-color: #00b89a;
	border-top-left-radius: 0;
	border-top-right-radius: 5px;
}

.card__offer {
	font-family: 'Futura_Bold';
	font-size: 24px;

	text-transform: uppercase;

	color: #fff;
}

.card__content {
	padding: 20px 17px;
}

.card__title {
	font-family: 'Futura_Book';
	font-size: 24px;
	color: #3f4042;
	text-transform: uppercase;
}

.card__price {
	padding: 22px 0 0;
	font-family: 'Futura_Bold';
	font-size: 72px;
	color: #35495a;
}

.card__price sup {
	position: relative;
	top: -40px;
	font-size: 18px;
}

.card__price sub {
	font-family: 'Futura_Book';
	font-size: 18px;
}

.card__features {
	padding: 21px 0 0;
	text-align: left;
}

.card__feature {
	display: flex;
	align-items: center;

	min-height: 33px;

	background-color: #edf5fd;
	
	font-family: 'Calibri';
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;

	color: #888c94;
	border-top: 1px #fff solid;
}

.card__feature:nth-child(2n) {
	background-color: #f5f5f6;
}

.card__feature img {
	padding:  0 15px 0 33px;
}

.card__button {
	font-family: 'Calibri';
	display: block;
	width: 100%;

	margin: 18px 0 0;
	padding: 11px 0;

	text-decoration: none;
	text-transform: uppercase;

	color: #fff;
	background-color: #3070a8;

	border-radius: 5px;
	box-shadow: 0px 3px 0px 0px #13426b;
}

.card__button:active {
	transform: translateY(3px);
	box-shadow: none !important;
}

/*Section ORDER ends*/

/*Section REVIEWS*/

.reviews {
	padding: 60px 0 75px;

	background: url(../img/reviews.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	text-align: center;
}

.reviews__title {
	font-family: 'Futura_Book';
	font-size: 40px;
	text-transform: uppercase;

	color: #ee8129;
}

.reviews__title span {
	font-family: 'Futura_Bold';

	color: #3170a8;
}

.reviews__wrap {
	padding: 25px 0 0;

	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.review {
	display: flex;
	justify-content: space-between;
	text-align: left;

	padding: 25px 0 0;

	max-width: 490px;
    width: 100%;
}


.review__image {
	width: 100px;
	height: 98px;

	background-size: cover;
	background-repeat: no-repeat;
}

.comment {
	position: relative;

	max-width: 365px;
	width: 100%;

	padding: 15px 12px;
	background-color: #fff;

	border: 1px solid #e0e0e0;
	box-sizing: border-box;
}

.comment:before {
	display: block;
	content: '';

	position: absolute;
	left: -15px;
	top: 37px;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12.5px 15px 12.5px 0;
	border-color: transparent #fff transparent transparent;

	z-index: 99;

}

.comment__header {
	display: flex;
	justify-content: space-between;
}

.comment__name, .comment__role {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	font-size: 13px;

	color: #3070a8;
}

.comment__content {
	margin: 9px 0 0;
	padding: 5px 0 0;

	border-top: 1px dotted #666666;

	font-family: 'Open Sans';

	font-size: 13px;
	line-height: 1.538;

	color: #666666
}

/*Section REVIEWS ends*/

/*Section CONTACTS*/

.contacts {
	position: relative;
	padding: 20px 0 0;
	min-height: 345px;
	background-color: #fff;
	box-sizing: border-box;
}

.contacts__wrap {
	margin: 25px 0 0;
	position: relative;
}

.contacts__image {
	position: absolute;
	left: 0;
	top: 0;
}

.contacts__text {
	padding: 0 0 0 60px;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #666666;
}

.contacts__text p {
	padding: 0 0 15px;
}

.contacts__map {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 345px;
}

.contacts__social {
	padding: 30px 0 0;
}

.social a {
	text-decoration: none;
	margin: 0 20px 0 0 ;
}

/*Section CONTACTS ends*/

/*Section FOOTER*/

.footer {
	padding: 20px 0;
	background-color: #3070a8;
	text-align: center;
}

.footer__copyrights {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 2.143;
	color: #fff;
}

.footer__copyrights b {
	font-family: 'Open Sans';
	font-weight: bold;
}

.footer__made {
	color: #1d1c1c;
}

/*Section FOOTER ends*/
